.text-center{
    text-align: center;
}

.bg-red{
    background-color: red;
}

.mg{
    margin: 30px;
}


.flex{
display: flex;
}

.flex-col{
    flex-direction: column;
}

.itemscenter{
    align-items: center;
}